<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- Burada Database işlemlerini yapacağız ... -->
	<connectionStrings>
		<add name="Nlog" connectionString="Server={MachineName}\\SQLEXPRESS; Database=UdemyNLogDatabase;Integrated Security=True;"></add>
	</connectionStrings>
</configuration>